<div id='cover'>
  <h2 class='text-center'>{{obj.personaje}}</h2>

</div>
<div class='container'>
  <div class='row'>
    <div class='col-md-3 col-sm-3 col-xs-6'>
      <p class='text-center'>Número de chequeos</p>
      <p class='text-center'>{{obj.checks}}</p>
    </div>
    <div class='col-md-3 col-sm-3 col-xs-6'>
      <p class='text-center'>Score</p>
      <p class='text-center'>{{obj.mean}}</p>
    </div>
    <div class='col-md-3 col-sm-3 col-xs-6'>
      <p class='text-center'>Min</p>
      <p class='text-center'>{{obj.min}}</p>
    </div>
    <div class='col-md-3 col-sm-3 col-xs-6'>
      <p class='text-center'>Max</p>
      <p class='text-center'>{{obj.max}}</p>
    </div>
  </div>
  <div class='row'>
    {{#each obj.data}}
    <p class='text-center'>{{title}}</p>
    <p class='text-center'>{{src}}</p>
    <p class='text-center'>{{valor_str}}</p>
    {{/each}}
  </div>
  <div class='row'>
    <div id='' class=''></div>
  </div>
</div>
